
:root {
	--dark:#020000;
	--yellow:#d1ab31 ;
	--dark-x:#2E2D2D;
	--green:#08C437  ;
	--black:#0A0C0B ;
	--red:#ef0d43;
	--red-x:#ef4f75 ;
	--white:#FDFEFE  ;
	--greed:#67b336;
}
.botoArriba{
position:fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--white);
    background: var(--greed);
    display:flex;
    z-index: 9999;
    
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}
.botoArriba:hover{
	 border: 2px solid var(--white);
    background: var(--yellow);
}
.botoArriba span{
	font-size: 30px;
	color:var(--white);

}

/*parte de navbar*/
.navbar {
	position: fixed;
	left:0;
	width:100%;
	z-index: 9999;
	background:var(--dark-x);
	

}






	/*containerLogo*/
	.containerPrecipal  img{
		max-width: 50%;
		margin-top: -5px;
		margin-left: 60px;
		border-radius: 50%;

	}
	/*conainerLI*/
	.containerPrecipal li {
		margin-right:  40px;
		padding: 7px;

	}

	/*containerA*/
	.containerPrecipal .navbar a{
		color:var(--greed);
		font-size: 22px;
		text-decoration: none;
		font-family: 'Galada', cursive;
	}



	/*containerhover*/
	.containerPrecipal .navbar a:hover{
		color:var(--yellow);
		

	}
	.navbar a.activo{
	color:var(--yellow);
	
}


	/*parte dela imagende fondo*/
	.img-nav{

		height: 100vh;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../img/carneh2.jpg);
	}
	/*parte de sombra de la imagen*/
	.sombra-img{

		position: absolute;
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		padding: 20px;
		width: 80%;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.6);
		color:#fff;
		margin:0;
	}

	/*parte de rellita de la sombr*/

	.sobra-hr{
		border-top: 1px solid #fff;
	}



	/*parte de titulo */
	.sombr-h1{
		font-size: 7vw;
		margin-bottom: 10px;

	}


	/*elPrrofodelaSombra*/
	.sombra-p{
		font-size: 2vw;
		color:var(--white);
		font-family: 'Galada', cursive;
	}

	/*nose que es*/
/*.img-link{
	margin:15px;
	position: relative;
	}*/



	/*parrofosDelaSombra*/
	.img-link a{
		position: relative;
		display: inline-block;
		color:var(--white);
		text-decoration: none;
		border: 1px solid #fff;
		margin: 10px ;
		width: 180px;
		font-size: 24px;
	}

	/*hoverDeSombra*/

	.img-link a:hover{
		background-color: var(--white);
		color: var(--yellow);
	}


	/**************PARTEDELCARRUSEL******/

	/*containerDelCarrusel*/
	.container-2{
		background: var(--dark-x);


	}


	/*carrusel*/
	.carousel {
		position: relative;
		width: 100%;
		max-height: 100vh;
		padding: 10px;


	}

	



/*boton de ka imagen derecha*/
.boton{
    position: relative;
    left: 130px;
    padding: 10px;
	width: 40%; 
    margin-top: 40px;
	font-size: 20px;
	background: var(--yellow);
	font-family: 'Galada', cursive; 




}


.boton:hover{
	
	border: 1px solid var(--white);
	color:var(--white);
	background: var(--greed);
	


	}




body{
	background: var(--white);
	color:var(--white);
	overflow-x: hidden;
	font-family: 'Open Sans Condensed', sans-serif;
}



/*lestraderecha*/

.letrasDerecha{
	position: relative;
	padding: 25px;
	
}

/*letrasderecha carrusel*/
.letrasDerecha h2{
	
	font-size: 40px;
	color:var(--yellow);
}


.letrasDerecha p {
	/*margin-top: 50px;*/
	font-size: 20px;
	text-align: center;
	color:var(--white);

}

.letrasDerecha h3 {

	font-size: 30px;
	text-align: center;
	color:var(--white);
	font-family: 'Galada', cursive;
}

.letrasDerecha hr{
	width:55%;
	height: 2px;
	background: #fff;
	margin: 30px auto;


}
/**************FOTOSDONDECUERPO************/
/*fotos de plato container*/
.image{
	position: relative;
	width: 100%;
	height: 80vh;
	margin: 0px;
	right: 0px;
	border-radius: 10px;




}
/*laimagen*/
.image img{
	position:relative; 
	top:-10px;
	left: 0;
	width: 100%;
	height: 70%;
	left: 0px;
	right: 0px;
	border-radius: 10px;
	cursor:pointer;
	
}
/*sombra*/
.red{
	margin-top: 40px;
	border-radius: 10px;

	/*border: 1px solid red;*/
}


.upaco-foto{
	position: absolute;
    top:0;
	width: 95%;
	height: 70%;
	font-size: 3vw;
	margin-top: 30px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);	

}



.cont2{
	position: relative;
	top:70px;
}



.upaco-foto:hover{
	background: rgba(0, 0, 0, 0.7);

	
}
.upaco-foto .h2-upaco, .p-upacos{
     padding:  20px;
     /*margin-top: 20px;*/
	margin-left: 30px;
	color:var(--white);
	
}
.boton1{
	border: 1px solid  var(--white);
	width: 16vw;
    font-family: 'Galada', cursive; 
	position: relative;
	margin-left: 50px;
	color: var(--white);
	font-size: 2vw;
	border-radius: 15px;
	background: var(--yellow);



}

.boton1:hover{
	background: var(--greed);
	color: var(--white);
	border: 1px solid var(--greed);
}

.h2-upaco{
	position: relative;
	font-size: 5vw;
}


.h2-upaco:hover{
	color: var(--greed);
}

.imagen-pied{

  position: relative;
	width: 100%;
	height: 80vh;
	background:url(../img/caru.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
    padding: 10%;
	background-attachment: fixed;
	margin-bottom: 100px;

  


}
.imagen-pied .row{
   
  background-color: rgba(1, 1, 1, 0.9);
  margin:10px;
	color:#fff;
	font-size: 2vw;
	border-radius: 20px;
	color: var(--greed);
	padding: 2%;



}
.foter{
	background: var(--dark);
	width: 100%;
	height: 100%;
	padding: 50px;
}

.foter h2{
	
	color: var(--greed);
	text-align: center;

	
}

.foter span {
	
	padding: 20px;
	font-size: 50px;
	color:var(--white);


}


.foter p {
	font-size: 20px;
	color: var(--white);
	margin: 10px;
	text-align: center;
}

/*
.post{
	cursor:pointer;
	position: relative;
	widows: 200px;
	display:block;
}
*/




























/*.post-likes, .post-commnents{
	width: 80px;
	margin-top: 150px;
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	font-family: 'Anton', sans-serif;
}  


.container{
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(3, minmax(100px, 293px));
	justify-content: center;
	grid-gap: 20px;
}


.container img{
	width: 100%;
	height: 100%;
	}*/

/*.container{
	width:100%;
	height: 100vh;
	background: var(--dark);
	color: var(--greed);*
	font-size: 4vw;
	margin-top: 6px;
	border: 1px solid #fff;
	
	}*/
/*.containe {
	padding:relative;
	width: 100%;
	height: 100%;
	top: 600px;
	/*background: re
}
*/


/*sectionCarrusel*/


/**{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:red;
}


/*
body {
	width: 100%;
	overflow-x: hidden;
	background-color: var(--dark-x);
	font-family: 'Handlee', cursive;
	
	}*/

/*posecionDeLaBarra*

.navbar{
	position: fixed;
	left:0;
	width:100%;
	height: 15vh;
	z-index: 9999;
	font-family: 'Lobster', cursive;
}

/*posectionDelTitulo*

.navbar h1{

	margin:auto;
	font-size: 30px;
	font-family: 'Lobster', cursive;
	margin-left: 70px;
	color:var(--white);	
}

/*posectioDeLasA*

.navbar a{

	position: relative;
	font-size: 20px;
	margin-left:0px;
	font-family: 'Handlee', cursive;
    }

/*containerDelCarrusel*
#carouselExampleCaptions{
	position: relative;
	top:85px;
	width: 100%;
	max-height:100vh;
    
}


lasImagenesDelContainer


.carousel-item img {
	position: relative;
	width: 100%;
	max-height:100vh;

    }
 


/*sectionDeLaH4*
.carousel-caption h2 {
	font-family: 'Bangers', cursive;
	color:var(--red);
	align-items: center;
	font-size: 40px;
}

/*sectionDeLaP*

.carousel .carousel-caption p {
    color:var(--red);
	align-items: center;
	font-size: 30px;
	font-family: 'Bangers', cursive;
	}*/

	/*sectionDelContainer2*/


    /*seTapaTodo*
/*
    #columna*{
    opacity: 0;
	transition: 2s ease-in-out;
	}*/


/*
.img-header{

	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 15vh;
	background: #fff;
	
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	align-items: center;
	z-index: 9999;
	background-image: url(../img/delicias.png);



	
}

.img-header  nav{


	top:0;
	left: 0;
	width: 100%;
	height: 15vh;
	background: rgba(0, 0, 0, 0.6);

	

}


.gorrito{
	position: absolute;
	margin-left: 500px;
	width: 70px;
	height: 100px;
	
}


.img-header .navbar h1{
	position: relative;
	bottom: 5px;
	color: var(--white);
	margin-left: 70px;
	font-family: 'Lobster', cursive;
	
}

.img-header .navbar h1:hover{
	color:var(--red);

}


.img-header .navbar li a{
	font-size:20px;
	font-weight: 300;
	color: var(--white);
}



.img-header .navbar li a:hover{
	background: var(--green);
	border: 2px solid var(--white);
	border-radius: 10px;
}

/*section*
.image-carusel{
	
    position: relative;
	width: 100%;
	height: 100%;
	top: 15vh;
	
	
}

.image-carusel .carousel-item{
	position: relative;
	width: 100%;
	height:100%;

	/*margin-top: 15vh;*
}

.image-carusel  .carousel-caption {
	position:absolute; 
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	
	background: rgba(0, 0, 0, 0.4);
}

.image-carusel, .carousel-control-prev, .carousel-control-next{
	z-index: 9999;


}



.image-carusel .carousel-item h2 {
	position: absolute;
	grid-auto-flow: column;
	grid-auto-columns: 50px 100px;
	width: 100%;
	height: 100%;
	margin-top: 120px;
	font-size: 50px;
	font-family: 'Bangers', cursive;
	color:#fff;*
	
}

.image-carusel .carousel-item p {
	position: relative;
	font-size: 25px;
	color:#fff;
	margin-top: 160px;
	overflow: auto;
}

.image-carusel hr {
	position: relative;
	width: 500px;
	height: 2px;
	top: 200px;
	background: #fff;
	margin: 10px auto;


}

/*section galeria*

.containe-fotos{
	width: 100%;
	top: 100px;
	background: ;
}

	.containe-fotos .section-p{
		width: 80%;
		margin:auto;
		display:flex;
		justify-content: center;
		flex-direction: column;
	}

	.containe-fotos .section-p > .colmna h2{
		font-size: 50px;
		font-weight: 400;
		color: var(--red);
		text-align: center;
		margin-bottom: 20px;
        font-family: 'Lobster', cursive;

	}

	.containe-fotos .section-p p{
		position: relative;
		text-align: center;
		font-size: 20px;
		color: var(--black);
		line-height: 35px;
		/*margin: 10px 0px;*

	}
	.galaria-container {
		width: 100%;
		display:flex;
		justify-content: center;
		margin: 60px 0px;
		
	}

	.galaria-container img{
		width: calc(34.33% -10px);
		height: 220px;
		object-fit:cover;
		margin:2px 2px;
		border-radius: 10px;
		cursor: pointer;

	}

	/*section galeria*/

	/*secttion fotos deun lado*

	




	.container-tar{
		position: relative;
		width: 100%;
		height: 100%;
		background:url(../img/tabla.jpg);
		background-attachment: fixed;
		background-position: center;
		background-size:cover;
		
	}


	.container-tar img{
        position: relative;
		background: ;
		width: calc(33.33% 10px);
		width: 100%;
		height: 35vh;
		padding: 10px;
		border-radius: 15px;
		cursor: pointer;
	}
	
 /*cuadro*
  .section-h2{  
 	position: relative;
 	top: -30px;
	text-align: center;
	width: 40%;
	height: 100px;
	margin: auto;
 }


	.container-tar h2{
		font-size: 40px;
		/*width: 50%;*
		color: var(--white);
		font-weight: normal;
		text-align: center;
		margin-top: 30px;
		font-family: 'Lobster', cursive;
		}


	.container-tar hr{
		position:relative;
		top: -20px;
		width: 80%;
		height: 2px;
		background:  var(--white);
		margin: 30px auto;
		
	}

	*/*/*/